.prd-img-C{
    margin-top: 100px;
    width: 100%;
}
.prd-logo-p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.prd-h{
    font-size: 30px;
    font-weight: 500;
    padding-top: 45px;
}
.prd-p{
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}
.specialities-texts{
    padding: 100px;
}
.prd-sp-h{
    font-size: 30px;
    font-weight: 500;
}
.prd-sp-p{
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    .prd-img-C{
        margin-top: 100px;
        width: 200px;
    }
    .prd-logo-p{
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
    }
    .prd-h{
        font-size: 16px;
        padding-left: 25px;
        font-weight: 500;
        padding-top: 30px;
    }
    .prd-p{
        font-size: 15px;
        padding-left: 25px;
        font-weight: 400;
        padding-top: 20px;
    }
    .specialities-texts{
        padding: 30px;
    }
    .prd-sp-h{
        font-size: 20px;
        font-weight: 500;
    }
    .prd-sp-p{
        padding-top: 5px;
        margin-top: 20px;
        font-size: 15px;
        font-weight: 500;
    }
    

}