body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.nav-logo{
    width: 100%;
    height: 50px;

}

.section-2{
    width: 100%;
}
.main-logo{
    margin-top: 100px;
    width: 100%;
}
.logo-text{
    font-size: 15px;
    font-weight: 500;
}

.img-1{
    width: 50%;
}
.imgL{
    width: 100%;
}
.imgR{
    margin-top: 2vh;
    height: 60vh;
}

.section-3{
    background-color: #F5F4F4;
    width: 100%;
}
.about-texts{
    padding-top: 30px;
}
.about-h{
    font-size: 30px;
    font-weight: 500;
}
.about-p{
    font-size: 18px;
    padding-top: 25px;
    line-height: 30px;
}
.section-4{
    background-color: #F5F4F4;
    width: 100%;
}
.dir-h{
    font-size: 30px;
    font-weight: 400;
    padding: 30px;
}
.dir-name{
    font-size: 17px;
    margin-bottom: 0px;

}
.dir-pos{
    font-size: 15px;
    font-weight: 700;
}
.section-5{
    background-color: #F5F4F4;
    width: 100%;
}

.product-h{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;

}
.product-p{
    padding-bottom: 30px;
}
.product-name{
    font-size: 15px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}
.product-b{
    background-color: #1B3551;
    color: white;
    width: 250px;
    border: none;
    border-radius: 13px;
    height: 40px;
}

.section-6{
    background-color: #F5F4F4;
    width: 100%;
    padding-bottom: 50px;
}
.contact-h{
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
}
.contact{
    width: 100%;
    background: linear-gradient(103.95deg, #344E7F 0%, #333C45 69.62%);
    color: white;
    border-radius: 10px 0 0 10px;
}
.contact-texts{
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 150px;

}
.contact-texts-h{
    font-size: 20px;
    font-weight: 500;
}
.contact-texts-p{
    font-size: 16px;
}
.contact-logo{
    width: 100%;
    background-color: white;
    border-radius: 0 10px 10px 0;

}
.contact-logo-img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 43px;
}
.footer{
    width: 100%;
    background-color: #1B3551;
}
.footer-hr{
    border: 1px solid;
    color: #F5F4F4;

}
.footer-p{
    font-size: 12px;
    color: white;
}
.footer-social-p{
    font-size: 20px;
    color: white;
}
.social-icons{
    margin-top: 7px;
}
@media only screen and (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    .section-2{
        width: 96%;
    }
    .main-logo{
        margin-top: 0vh;
    }
    .imgL{
        width: 100%;
        height: 45vh;
    }
    .logo-text{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 80px;
    }
    .about-texts{
        padding-top: 30px;
        text-align: center;
    }
    .dir-h{
        font-size: 25px;
        font-weight: 400;
        padding: 30px;
    }
    .contact{
        width: 100%;
        background: linear-gradient(103.95deg, #344E7F 0%, #333C45 69.62%);
        color: white;
        border-radius: 10px 10px 0 0;
    }
    .contact-logo{
        width: 100%;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }
    .contact-h{
        padding-top: 70px;
        padding-bottom: 30px;
        font-size: 25px;
        font-weight: 600;
    }
    .contact-texts{
        padding-top: 20px;
        padding-left: 25px;
        padding-bottom: 15px;
        padding-right: 50px;
    
    }
    .contact-texts-h{
        font-size: 15px;
        font-weight: 500;
    }
    .contact-texts-p{
        font-size: 11px;
    }
    .footer-p{
        font-size: 8px;
    }
    .footer-social-p{
        font-size: 12px;
        color: white;
    }
    .social-icons{
        margin-top: 0;
    }

  }
